h1 {
    color: white;
}

h3 {
    color: rgb(255, 0, 0);
    width: 100;
    text-align: left;
    
}



p {
    color: white;
}



td {  
    color: white;
}



ul {
    color: white;
}


td {  
    color: rgb(247, 0, 255);
}